body {
    background: #4d4d4d;
    color: #000000;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 400;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}
main {
    flex: 1 0 auto;
}
ul { 
    margin: 0;
}
#card {
    margin: 0 auto;
    margin-top: 8vh;
}
#card-form {
    display: inline-block;
}
#card-text1, #card-text2, #card-text3, #card-text4, #card-text5 {
    color: gray;
}
#card-text1, #card-text4 {
    font-size: 20px;
}
#card-text1, #card-title {
    text-align: center;
}
#card-text4, #card-text5 {
    position: relative;
}
#card-text2 {
    margin-left: 2.75px; 
    margin-top: 25px
}
#card-text3 {
    font-size: 10px;
    margin-left: 3px;
    margin-top: 10px;
}
#card-text4 {
    margin-top: 21.5px;
    left: 9px;
}
#card-text5 {
    float: left;
    font-size: 15px;
    left: 10px;
}
#card-title {
    margin: 0 auto;
}
#close {
    position: absolute;
    top: 23px;
}
#help {
    cursor: pointer;
    float: left;
    margin-top: -0.1em;
}
#icon, #icon-button, #icon-toggle, #input, #input-pswd {
    position: relative;
    margin-right: 10px;
    top: -17px;
}
#input, #input-pswd {
    top: -22px;
}
#icon-button {
    height: 24px;
    top: 0px;
    width: 24px;
}
#icon-toggle {
    top: -23px;
}
#index-logo {
    display: block;
    height: 125px;
    margin: auto;
    margin-bottom: 10px;
    width: auto;
}
#input-pswd {
    width: 5cm;
}
#join {
    float: left;
    right: 18px;
}
#launch {
    bottom: 8px;
    right: 16px;
}
#line-break {
    display: block;
    margin-bottom: -30px;
}
#line-break:after {
    content: "\A";
    white-space: pre;
}
#spc {
    margin-left: 2px;
}

/* Media queries for landscape */

@media (min-width: 711px) {
    #card {
        width: 615px;
    }
    #card-border {
        height: 140px;
    }
    #close {
        left: 23.1em;
    }
    #input-pswd {
        width: 5.6cm;
    }
}

@media (max-width: 710px) {
    #card {
        width: auto;
    }
    #card-content {
        height: 20.5em;
    }
    #close {
        left: 9.7em;
    }
    #line-break-m {
        display: block;
        margin-bottom: -10px;
    }
    #line-break-m:after {
        content: "\A";
        white-space: pre;
    }
}

@media (max-height: 400px) and (min-width: 560px) and (max-width: 700px) {
    #card-content {
        height: 21.7em;
    }
}

@media (max-height: 400px) and (min-width: 480px) and (max-width: 560px) {
    #card-content {
        height: 23.5em;
    }
}

/* -- Microsoft Internet Explorer 10+ -- */
@media only screen\0 {
    #content {
        min-height: calc(100vh - 77px);
    }
    #icon {
        float: left;
        top: -2px;
    }
    #icon-toggle {
        top: -52px;
    }
}

/* -- Microsoft Edge -- */
_:-ms-lang(x), _:-webkit-full-screen,
#line-break { 
    margin-bottom: -10px;
}

/* Media queries for portrait */

@media (max-width: 400px) {
    #line-break-s {
        display: block;
        margin-bottom: 10px;
    }
    #line-break-s:after {
        content: "\A";
        white-space: pre;
    }
}

@media (max-width: 420px) and (min-height: 667px) and (max-height: 740px) {
    #card-content {
        height: 27.5em;
    }
}

@media (max-width: 420px) and (min-height: 568px) and (max-height: 667px) {
    #card-content {
        height: 29.5em;
    }
}

@media (max-width: 420px) and (max-height: 568px) {
    #card-content {
        height: 32.5em;
    }
}

@media (width: 480px) and (height: 480px) {
    #card-content {
        height: 23.5em;
    }
}

@media (max-width: 280px) {
    #card-content {
        height: 36.5em;
    }
}

/* Home page slideshow */
.slideshow, .slideshow:after { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0; 
}
.slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 36s linear infinite 0s;
    -moz-animation: imageAnimation 36s linear infinite 0s;
    -o-animation: imageAnimation 36s linear infinite 0s;
    -ms-animation: imageAnimation 36s linear infinite 0s;
    animation: imageAnimation 36s linear infinite 0s; 
}
.slideshow li:nth-child(1) span { 
    background-image: url(http://www.androidbeat.com/wp-content/uploads/2016/08/08-ruA6Get.jpg);
}
.slideshow li:nth-child(2) span { 
    background-image: url(http://i.imgur.com/2rjgq.jpg);
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s; 
}
.slideshow li:nth-child(3) span { 
    background-image: url(https://allsizewallpapers.files.wordpress.com/2012/05/boat_sailing_in_the_blue_sea_wallpaper-1920x1200.jpg);
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s; 
}
.slideshow li:nth-child(4) span { 
    background-image: url(https://i.ytimg.com/vi/uT6GPFPnV-I/maxresdefault.jpg);
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s; 
}
.slideshow li:nth-child(5) span { 
    background-image: url(http://toasterdog.com/files/RollingWaves.jpg);
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s; 
}
.slideshow li:nth-child(6) span { 
    background-image: url(https://i.ytimg.com/vi/KQdVzgNRFis/maxresdefault.jpg);
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s;
}
.no-cssanimations .slideshow li span{
    opacity: 1;
}
@-webkit-keyframes imageAnimation { 
    0% { opacity: 0;
         -webkit-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -webkit-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes imageAnimation { 
    0% { opacity: 0;
         -moz-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -moz-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes imageAnimation { 
    0% { opacity: 0;
         -o-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -o-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes imageAnimation { 
    0% { opacity: 0;
         -ms-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -ms-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes imageAnimation { 
    0% { opacity: 0;
         animation-timing-function: ease-in; }
    8% { opacity: 1;
         animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}